<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>天天生鲜-密码找回</title>
</head>
<body>
{#    todo:找回密码#}
<form method="post" action="{% url 'users:psw_comfirm' %}">
    {% csrf_token %}
    <div>亲爱的：</div>
    <input type="text" value="{{ user_name }}" name="user_name" readonly style="border: hidden">
    <br>
    <br>
    <br>
    <input type="text" placeholder="请输入您的新密码" name="new_psw">
    <input type="submit" value="确定">
</form>

</body>
</html>